<!DOCTYPE html>

<html lang="en">

<head>

  <title>EasyTravel - Register</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="icon" type="image/png" href="img/hotel.webp" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="bg">
  <div class="signup-box">
    <h1>Sign Up</h1>
    <form>
      <div class="input">
        <input type="text" required />
        <label>Name</label>
      </div>
      <div class="input">
        <input type="email" required />
        <label>Email</label>
      </div>
      <div class="input">
        <input type="password" required />
        <label>Password</label>
      </div>
      <div class="input">
        <input type="password" required />
        <label>Confirm Password</label>
      </div>
      <button type="submit">Register</button>
    </form>
    <div class="signup-box1">
      <h1>Sign In</h1>
      <p class="pSignUp">You have an account? Click here to sign in</p>
      <form action="Login.html">
        <button type="submit">Sign In</button>
      </form>
    </div>
  </div>
</body>

</html>
